<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="TimeTrackDBContext" connectionString="Data Source=(local);initial catalog=TimeTrack;Integrated Security=True;Connection Timeout=240" providerName="System.Data.SqlClient" />-->
    <!--<add name="KafkaDBContext" connectionString="Data Source=.;Initial Catalog=KafkaJob;Integrated Security=True" />-->
    <add name="KafkaJobEntities" connectionString="metadata=res://*/Model.KafkaContext.csdl|res://*/Model.KafkaContext.ssdl|res://*/Model.KafkaContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KafkaJob;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
</configuration>